<div>
  <form nz-form #addsuppliersForm="ngForm" (ngSubmit)="submitForm()">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Create New Purchase Order</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="save" nzTheme="outline"></i> Save</button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div class="purchase-order-content">
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Parts Name</mat-label>
                <input matInput name="PartsName" placeholder="Name" [(ngModel)]="model.partsName">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Parts Number</mat-label>
                <input matInput name="PartsNumber" placeholder="number" [(ngModel)]="model.partsNo">
              </mat-form-field>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Unit Price</mat-label>
                <input matInput name="UnitPrice" placeholder="Unitprice" [(ngModel)]="model.unitPrice">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Quantity to Buy </mat-label>
                <input matInput name="QuantitytoBuy" placeholder="Quantity" [(ngModel)]="model.QTYToBuy">
              </mat-form-field>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Purchase Order Number</mat-label>
                <input matInput name="ShipToLocation" placeholder="Please Enter Purchase Order Number"
                  [(ngModel)]="model.purchaseOrderNumber">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Vendor Name</mat-label>
                <input matInput name="VendorName" placeholder="Supplier Name" [(ngModel)]="model.vendorName">
              </mat-form-field>
            </div>
          </div>
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Estimated Date of Delivery</mat-label>
                <input matInput type="date" name="estimatedDataOfDelivery" placeholder="Estimated Date of Delivery"
                  [(ngModel)]="model.estimatedDateOfDelivery">
              </mat-form-field>
            </div>
          </div>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </form>
</div>
