<div>
  <form nz-form #addPartsForm="ngForm" (ngSubmit)="submitForm()">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Add New Parts</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="secon" nzSize="large" type="submit">
          <i nz-icon nzType="save" nzTheme="outline"></i> Save
        </button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div class="parts-content">
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Parts Name</mat-label>
                <input matInput type="text" name="PartsName" [(ngModel)]="model.partName" placeholder="Name" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput type="text" name="Description" [(ngModel)]="model.partDescription"
                  placeholder="Description"></textarea>
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Part Number</mat-label>
                <input matInput type="text" name="PartNumber" [(ngModel)]="model.partNumber" placeholder="Number" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Quantity In Hand</mat-label>
                <input matInput type="number" name="QuantityInHand" [(ngModel)]="model.quantityInHand"
                  placeholder="Quantity In Hand" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Manufacturing Date</mat-label>
                <input matInput type="date" name="ManufacturingDate" [(ngModel)]="model.manufaturingDate"
                  placeholder="Please Select Manufacturing Date" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Expiry Date</mat-label>
                <input matInput type="date" name="ExpiryDate" [(ngModel)]="model.expiryDate"
                  placeholder="Please Select Expiry Date" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label> Product Category</mat-label>
                <mat-select name="Category" [(ngModel)]="model.productCategory">
                  <mat-option value="HighValueStocks">High Value Stock</mat-option>
                  <mat-option value="HighRunnerStocks">High Runner Stock</mat-option>
                  <mat-option value="RareStock">Rare Stock</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Location</mat-label>
                <input matInput name="Location" [(ngModel)]="model.location" placeholder="Location" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Model</mat-label>
                <input matInput name="model" [(ngModel)]="model.Model" placeholder="Please Enter Model of the Part " />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Manufacturer</mat-label>
                <input matInput name="Manufacturer" [(ngModel)]="model.Manufacturer" placeholder="Please Enter Manufacturer of the Part " />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Part Cost Price</mat-label>
                <input matInput type="number" name="CostPrice" [(ngModel)]="model.partCostPrice"
                  placeholder="Please Enter Cost Price in SGD" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Part Selling Price</mat-label>
                <input matInput type="number" name="SellingPrice" [(ngModel)]="model.partSellingPrice"
                  placeholder="Please Enter Selling Price in SGD" />
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Vendor Name</mat-label>
                <input matInput name="VendorName" [(ngModel)]="model.vendorName" placeholder="Vendor name" />
              </mat-form-field>
            </div>
          </div>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </form>
</div>
