<div>
  <h4 style="text-align: center;padding-top: 2rem;">Forgot Your Password</h4>
  <div style="text-align: center; padding: 1rem;">
    <p>Don't worry, we'll send you an email to your login details. Enter your registered email address here.</p>
  </div>
  <form nz-form (ngSubmit)="forgotPassword()" autocomplete="off">
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">E-mail</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-input-group nzPrefixIcon="mail">
          <input nz-input name="email" [(ngModel)]="model.email" type="email" id="email" placeholder="Your Email">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <div style="text-align: center;padding-bottom: 3rem;">
          <button nz-button [nzType]="'primary'">Send Email</button>
        </div>
        <a routerLink="/login">Go back to Login Page?</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
