nz-page-header {
  border: 1px solid #dddddd;
}
.workorder-content {
  border-top: 1px solid #dddddd;
  padding: 5px 0px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
