<div class="landing-page">
  <nz-modal [nzVisible]="true" [nzWidth]="1000">
    <div nz-row style="display: flex;">
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="14" class="lbg-wrapper">
        <!-- <img src="../assets/Mirai.png" alt="logo"> -->
        <h2>Mirai Trading Enterprice</h2>
        <h4>IMS Project</h4>
      </div>
      <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="10" class="login-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-modal>
  <!-- <div style="text-align: center;">
    <p style="color: #fff"><strong>&copy; 2019 Elizabeth-Zion Asia Pacific Pte Ltd. All Rights
        Reserved. Singapore Co. Reg.No 201207152E</strong></p>
  </div> -->
</div>
