<div class="landing-page">
  <nz-modal [nzVisible]="true" [nzWidth]="1000">
    <div nz-row style="display: flex;">
      <div
        nz-col
        nzXs="12"
        nzSm="12"
        nzMd="12"
        nzLg="12"
        nzXl="14"
        class="lbg-wrapper"
      >
        <h2>Mirai Trading Enterpric</h2>
        <h4>IMS Project</h4>
      </div>
      <div
        nz-col
        nzXs="12"
        nzSm="12"
        nzMd="12"
        nzLg="12"
        nzXl="10"
        class="login-wrapper"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
  </nz-modal>
</div>
