<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo" style="background-color: #357CA5;">
      <a href="#" target="_blank">
        <img src="../assets/Mirai.png" alt="logo">
        <!-- <h1>Mirai Trading <br> Enterprice</h1> -->
        <h1>IMS Project</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-menu-item nzMatchRouter nzIcon="form">
        <a routerLink="/dashboard">
          <i nz-icon nzType="dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li> -->
      <li nz-submenu nzOpen nzTitle="Parts Requests" nzIcon="unordered-list"
        *ngIf="isRouteEnabled(['Admin','Customer'])">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/work-order-list">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>Parts Request List</span>
            </a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Products list" nzIcon="snippets" *ngIf="isRouteEnabled(['Admin'])">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/parts-list">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>Total Products List</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/parts-list/category-a">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>CategoryA (High Value)</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/parts-list/category-b">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>CategoryB (Normal Stock)</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/parts-list/category-c">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>CategoryC (Dead Stock)</span>
            </a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/parts-list/category-d">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>CategoryD (Normal Stock)</span>
            </a>
          </li> -->
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Purchase Order" nzIcon="shopping-cart" *ngIf="isRouteEnabled(['Admin'])">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/purchase-order">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>Purchase Order</span>
            </a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/quotes">
              <i nz-icon nzType="star" nzTheme="outline"></i>
              <span>Quotes</span>
            </a>
          </li> -->
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter nzIcon="form" *ngIf="isRouteEnabled(['Admin'])">
        <a routerLink="/suppliers-list">
          <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
          <span>Suppliers List</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter nzIcon="form" *ngIf="isRouteEnabled(['Admin'])">
        <a routerLink="/user-list">
          <i nz-icon nzType="usergroup-add" nzTheme="outline"></i>
          <span>Costomers List</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <span class="page-title">Inventory Management System</span>
      </div>
      <div style="flex: 1;"></div>
      <div class="logout" style="margin-right: 60px;">
        <button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzType="default" nzShape="circle"
          nzSize="large" style="display: flex; align-items: center; justify-content: center;">
          <i nz-icon nzType="user" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu style="width: 220px; padding: 0 0 7px;">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/profile">
                <i nz-icon nzType="smile" nzTheme="outline"></i> My Profile
              </a>
            </li>
            <!-- <li nz-menu-item><i nz-icon nzType="key" nzTheme="outline"></i> Change Password</li> -->
            <li (click)="handleLogout()" nz-menu-item> <i nz-icon nzType="logout" nzTheme="outline"></i> Logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </nz-header>
    <nz-content style="overflow: auto;">
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
