<div>
  <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Store Requization/Qoutes</nz-page-header-title>
      <nz-page-header-extra>
      <a routerLink="/quotes/add-quote">
          <button class="button-style" nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="file-add" nzTheme="outline"></i> New Quotes</button>
      </a>
      <a routerLink="">
          <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
      </a>
      </nz-page-header-extra>
  </nz-page-header>
  <nz-page-header-content>
    <nz-tabset>
      <nz-tab nzTitle="All">
        <table id="Quotes-table" class="table table-striped table-bordered" style="width:100%">
          <thead>
            <tr>
              <th>Number</th>
              <th>Date</th>
              <th>Expiry</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let quotes of quotesList">
              <td>{{ quotes.QuoteNumber }}</td>
              <td>{{ quotes.Date }}</td>
              <td>{{ quotes.QuoteExpiryDate }}</td>
              <td>{{ quotes.Status }}</td>
              <td>{{ quotes.Amount }}</td>
            </tr>
          </tbody>
        </table>
      </nz-tab>
      <nz-tab nzTitle="Drafts">
        content here
      </nz-tab>
      <nz-tab nzTitle="Sent">
        content here
      </nz-tab>
      <nz-tab nzTitle="Declained">
        content here
      </nz-tab>
      <nz-tab nzTitle="Accepted">
        content here
      </nz-tab>

    </nz-tabset>
  </nz-page-header-content>
</div>
