<div>
    <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Parts List</nz-page-header-title>
        <nz-page-header-extra>
        <a routerLink="add-new-parts">
            <button nz-button nzType="secon" nzSize="large">
            <i nz-icon nzType="file-add" nzTheme="outline"></i> New</button>
        </a>
        <a routerLink="">
            <button nz-button nzType="secon" nzSize="large">
            <i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
        </a>
        </nz-page-header-extra>
        
    </nz-page-header>
    <nz-page-header-content>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Item Number</th>
                            <th>SKU No</th>
                            <th>Description</th>
                            <th>Stock Count</th>
                            <th>Min QTY</th>
                            <th>Vendor Name</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>Submit Purchase Request</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
    </nz-page-header-content>
</div>