<app-scanner-detection (scan)="handleScan($event)">
  <div>
    <nz-page-header [nzGhost]="false">
      <nz-page-header-title>Parts List</nz-page-header-title>
      <nz-page-header-extra>
        <a routerLink="add-new-parts">
          <button nz-button nzType="secon" nzSize="large">
            <i nz-icon nzType="file-add" nzTheme="outline"></i> New
          </button>
        </a>
        <a routerLink="">
          <button nz-button nzType="secon" nzSize="large">
            <i nz-icon nzType="printer" nzTheme="outline"></i> Print
          </button>
        </a>
      </nz-page-header-extra>
    </nz-page-header>
    <nz-page-header-content>
      <nz-table #basicTable [nzData]="partsList" nzBordered id="parts-list-table">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Serial No.</th>
            <th>Product Lot No.</th>
            <th>Description</th>
            <th>Product Category</th>
            <th>Quantity In Hand</th>
            <th>Product Manufacturing Date</th>
            <th>Product Expiry Date</th>
            <th>Vendor Name</th>
            <th>Product Cost Price </th>
            <th>Product Selling Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parts of basicTable.data">
            <td>{{ parts.PartsName }}</td>
            <td>{{ parts.ItemNumber }}</td>
            <td>{{ parts.SKUNo }}</td>
            <td>{{ parts.Description }}</td>
            <td>{{ parts.Category }}</td>
            <td>{{ parts.QTYInHand }}</td>
            <td>{{ parts.ManufacturingDate }}</td>
            <td>{{ parts.ExpiryDate }}</td>
            <td>{{ parts.VendorName }}</td>
            <td>{{ parts.CostPrice }}</td>
            <td>{{ parts.SellingPrice }}</td>
            <td>
              <a routerLink="edit-products">Edit</a>
              <!-- <nz-divider nzType="vertical"></nz-divider>
              <a>Delete</a> -->
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-page-header-content>
  </div>
</app-scanner-detection>
