<div>
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title>Work Orders List</nz-page-header-title>
    <nz-page-header-extra>
      <a routerLink="create-workorder">
        <button nz-button nzType="primary" nzSize="large"
          style="background-color: #fbbf0f;color: #ffffff; border-color: #fbbf0f;">
          <i nz-icon nzType="file-add" nzTheme="outline"></i> New</button>
      </a>

      <button nz-button nzType="secon" nzSize="large"
        style="background-color: #fbbf0f;color: #ffffff; border-color: #fbbf0f;">
        <i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
    </nz-page-header-extra>
    <nz-page-header-content>
      Table will render
    </nz-page-header-content>
  </nz-page-header>
</div>
