<div>
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title>Work Orders List</nz-page-header-title>
    <nz-page-header-extra>
      <a routerLink="create-workorder">
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="file-add" nzTheme="outline"></i> New
        </button>
      </a>
      <a routerLink="">
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="printer" nzTheme="outline"></i> Print
        </button>
      </a>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-page-header-content>
    <table
      datatable
      class="table table-striped table-bordered"
      style="width:100%"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>AssetCode</th>
          <th>AssignedUsers</th>
          <th>Code</th>
          <th>CompletedByUsers</th>
          <th>EstimatedHours</th>
          <th>PartsID</th>
          <th>Priority</th>
          <th>RequestedCompletionDate</th>
          <th>SpentHours</th>
          <th>Status</th>
          <th>SummaryIssue</th>
          <th>WorkType</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workOrder of workOrderList">
          <td>{{ workOrder.ID }}</td>
          <td>{{ workOrder.AssetCode }}</td>
          <td>{{ workOrder.AssignedUsers }}</td>
          <td>{{ workOrder.Code }}</td>
          <td>{{ workOrder.CompletedByUsers }}</td>
          <td>{{ workOrder.EstimatedHours }}</td>
          <td>{{ workOrder.PartsID }}</td>
          <td>{{ workOrder.Priority }}</td>
          <td>{{ workOrder.RequestedCompletionDate }}</td>
          <td>{{ workOrder.SpentHours }}</td>
          <td>{{ workOrder.Status }}</td>
          <td>{{ workOrder.SummaryIssue }}</td>
          <td>{{ workOrder.WorkType }}</td>
        </tr>
      </tbody>
    </table>
  </nz-page-header-content>
</div>
