<nz-page-header nzBackIcon [nzGhost]="false">
  <nz-page-header-title>Store Requization</nz-page-header-title>
    <nz-page-header-extra>
      <button nz-button nzType="secon" nzSize="large">
        <i nz-icon nzType="save" nzTheme="outline"></i> Save
      </button>
    </nz-page-header-extra>
</nz-page-header>
<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="10">
    <nz-form-item style="padding-top: 30px;">
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="quoteNumber">Quote Number</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <input nz-input id="quoteNumber" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Date">Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker id="Date" [(ngModel)]="date" (ngModelChange)="onDateChange($event)"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="QuoteExpiryDate">Quote Expiry Date</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-date-picker id="QuoteExpiryDate" [(ngModel)]="date" (ngModelChange)="onDateChange($event)"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>

  </div>
  <div nz-col class="gutter-row" [nzSpan]="6">
    <!-- <nz-input-group>
      <input type="text" nz-input [(ngModel)]="inputValue" placeholder="input with clear icon" />
    </nz-input-group> -->
  </div>
</div>
<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-upload nzName="file">
      If File Size Is Large Attatch Documents Here: <button nz-button><i nz-icon nzType="upload"></i> Click to Upload</button>
    </nz-upload>

  </div>
</div>
<nz-divider></nz-divider>
<div>
  <nz-table #colSpanTable [nzData]="listOfData" nzBordered [nzFooter]="addQuoteFooter">
    <thead>
      <tr>
        <th>Item</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Disc %</th>
        <th>Tax Rate %</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData; let i = index">
        <td (click)="openPartsModal(i)">{{ data.item }}</td>
        <td>{{data.description}}</td>
        <td>
          <nz-input-number [(ngModel)]="data.quantity" [nzStep]="1" (ngModelChange)="calculateAmount(i)">
          </nz-input-number>
        </td>
        <td>
          <nz-input-number [(ngModel)]="data.unitPrice" [nzStep]="1" (ngModelChange)="calculateAmount(i)">
          </nz-input-number>
        </td>
        <td>
          <nz-input-number [(ngModel)]="data.disc" [nzStep]="1" (ngModelChange)="calculateAmount(i)"></nz-input-number>
        </td>
        <td>
          <nz-input-number [(ngModel)]="data.taxRate" [nzStep]="1" (ngModelChange)="calculateAmount(i)">
          </nz-input-number>
        </td>
        <td>
          {{data.amount}}
        </td>
        <td>
          <button nz-button nzType="default" nzShape="circle" nzSize="small" *ngIf="listOfData.length > 1" style="display: flex;
            align-items: center;
            justify-content: center;" (click)="removeLine(i)">
            <i nz-icon nzType="close" nzTheme="outline"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #addQuoteFooter>
    <div style="display: flex; align-items: center;">
      <button nz-button nzType="primary" (click)="addNewLine()" style="display: flex;
      align-items: center;"><i nz-icon nzType="plus" nzTheme="outline"></i>Add New Line</button>
      <div style="flex: 1;"></div>
      <div style="display: flex;align-items: center;">
        <h4 style="margin: 0 20px 0 0;">Total</h4>
        <span>{{totalAmount}}</span>
      </div>
    </div>

  </ng-template>
  <app-parts-list [isVisible]='selectedRecord' (cancelModal)="closePartsModal()"
    (addItem)="handlePartsSelection($event)">
  </app-parts-list>
</div>

<div>
    <button nz-button class="button-style" nzSize="large" nzType="primary">Send</button>

</div>
