<div>
  <form nz-form #addsuppliersForm="ngForm" (ngSubmit)="submitForm()">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Add New Supplier</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="save" nzTheme="outline"></i> Save</button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div class="suppliers-content">
          <nz-descriptions [nzColumn]="3">
            <!-- <nz-descriptions-item nzTitle="Work Order No" [nzSpan]="1">1234</nz-descriptions-item> -->
          </nz-descriptions>
          <div nz-row>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Supplier Name</mat-label>
                <input matInput type="text" name="supplierName" [(ngModel)]="model.supplierName" placeholder="Name">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Primary Email</mat-label>
                <textarea matInput type="text" name="primaryEmail" [(ngModel)]="model.primaryEmail" placeholder="Description"></textarea>
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Primary Contact</mat-label>
                <input matInput type="text" name="contactNumber" [(ngModel)]="model.contactNumber" placeholder="Number">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Website Name</mat-label>
                <input matInput type="text" name="websiteName" [(ngModel)]="model.websiteName" placeholder="Manufacturer Name">
              </mat-form-field>
            </div>
            <div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
              <mat-form-field>
                <mat-label>Country</mat-label>
                <input matInput type="text" name="country" [(ngModel)]="model.country" placeholder="Country">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!-- <nz-tabset>
        <nz-tab nzTitle="Assosiated Assets">
          Assosiated Assets List
        </nz-tab>
        <nz-tab nzTitle="Log">
         Content
        </nz-tab>
      </nz-tabset> -->
      </nz-page-header-content>
    </nz-page-header>
  </form>
</div>
