<div>
  <form nz-form [formGroup]="editForm" (ngSubmit)="submitForm()">
    <nz-page-header nzBackIcon [nzGhost]="false">
      <nz-page-header-title>Edit User Details</nz-page-header-title>
      <nz-page-header-extra>
        <button nz-button nzType="secon" nzSize="large" type="submit">
          <i nz-icon nzType="save" nzTheme="outline"></i> Save
        </button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div class="users-content">
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="firstName">First Name</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please enter firstname.">
              <input id="firstName" formControlName="firstName" nz-input placeholder="First Name"
                [(ngModel)]="model.FirstName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="lastName">Last Name</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please enter lastname.">
              <input id="lastName" formControlName="lastName" nz-input placeholder="Last Name"
                [(ngModel)]="model.LastName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" [(ngModel)]="model.Email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" [nzValidateStatus]="editForm.controls['phoneNumber']"
              nzErrorTip="Please input your phone number!">
              <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                  <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                    <nz-option nzLabel="+65" nzValue="+65"></nz-option>
                  </nz-select>
                </ng-template>
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input [(ngModel)]="model.PhoneNumber" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="companyName">Company Name</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please enter companyName.">
              <input id="companyName" formControlName="companyName" nz-input placeholder="Company Name"
                [(ngModel)]="model.CompanyName" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="companyAddress">Company Address</nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please enter company address.">
              <textarea nz-input id="companyAddress" formControlName="companyAddress" placeholder="Company Address"
                [(ngModel)]="model.CompanyAddress"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="role" nzRequired> Role </nz-form-label>
            <nz-form-control [nzSm]="6" [nzXs]="24" nzErrorTip="Please Choose Role.">
              <nz-select nzPlaceHolder="Please select Role" id="role" formControlName="role" [(ngModel)]="model.Role"
                nzDisabled>
                <nz-option nzLabel="Admin" nzValue="1"></nz-option>
                <nz-option nzLabel="User" nzValue="2"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-page-header-content>
    </nz-page-header>
  </form>
</div>
