<div>
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title>Assets List</nz-page-header-title>
    <nz-page-header-extra>
      <a routerLink="add-new-asset">
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="file-add" nzTheme="outline"></i> New
        </button>
      </a>
      <a routerLink="">
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="printer" nzTheme="outline"></i> Print
        </button>
      </a>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-page-header-content>
    <table id="assets-list-table" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Asset Number</th>
          <th>Asset Name</th>
          <th>Description</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Location</th>
          <th>Category</th>
          <th>Stock Count</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assetsList">
          <td>{{ asset.AssetID }}</td>
          <td>{{ asset.AssetCode }}</td>
          <td>{{ asset.AssetName }}</td>
          <td>{{ asset.Description }}</td>
          <td>{{ asset.Manufacturer }}</td>
          <td>{{ asset.Model }}</td>
          <td>{{ asset.Location }}</td>
          <td>{{ asset.Category }}</td>
          <td>{{ asset.StockCount }}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </nz-page-header-content>
</div>
