<div>
  <nz-page-header [nzGhost]="false">
    <nz-page-header-title>Purchase Orders List</nz-page-header-title>
    <nz-page-header-extra>
      <a routerLink="create-purchase-order">
        <button class="button-style" nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="file-add" nzTheme="outline"></i> New</button>
      </a>
      <!-- <a routerLink="">
        <button nz-button nzType="secon" nzSize="large">
          <i nz-icon nzType="printer" nzTheme="outline"></i> Print</button>
      </a> -->
    </nz-page-header-extra>
  </nz-page-header>
  <nz-page-header-content>
    <nz-table #colSpanTable nzData="listOfData" nzBordered>
        <thead>
          <tr>
            <th>S.No</th>
            <th>Purchase Order No.</th>
            <th>Requested Item No.</th>
            <th>Requested QTY</th>
            <th>Unit Price</th>
            <th>Vendor Name</th>
            <th>Created Date</th>
            <th>Estimated Date Of Delivery</th>
            <th>Received Date</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody></tbody>
    </nz-table>
  </nz-page-header-content>
</div>
